@using Kendo.Mvc.UI
@addTagHelper *, Kendo.Mvc
@{
    var articleId = (int)ViewData["ArticleId"];
}
<style>
    body {
        background-color: #1e1e1e;
    }

    .k-dropzone {
        min-height: 200px;
        vertical-align: top;
    }
</style>
<div class="continer-fluid mt-5 pt-2">
    <div class="row">
        <div class="col">
        @(Html.Kendo().Upload()
            .Name("uploader")
            .Multiple(true)
            .Async(a => a
                .Save("ImportPage", "Editor")
                .Remove("ImportPageRemove", "Editor")
                .AutoUpload(true)
                .ChunkSize(11000)
            )
        )
        </div>
    </div>
</div>